<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./add_item_compra/add_item_compra.css">
    <script src="./Comprar.js"></script> 
    <script src="./jquery-3.6.1.min.js"></script>   
    <title>Compra</title>
</head>

<% if(urid.Tipo=="ofoda"){ %>
    <%- include('../views/navbar') -%>
    <% }else{%>
    <%- include('../views/navbarVendedor') -%>
    <% } %> 
    
<body>
    <span id="titu" class="tit">Realizar Compra</span>
    <div class="cad" id="cadV">
        <form>
                <div class="column">
                <text href="">Produto:</text>
                <select name="id" id="codPC" onchange="valorAtt()">
                        <option value="0" id="cp">--</option>
                            <% for(var i = 0; i< Produto.length; i++) {%>
                                
                            <% if(Produto[i].Quantidade > 0) {%>
                                <option value="<%= Produto[i].Idprod%>" ><%= Produto[i].Nome%></option>
                            <%}%>
                        <%}%>
                    </select>
                </div>

                <div class="column">
                    <text href="">Quantidade:</text>
                    <input class="texto" type="number" onchange="valorAtt()" id="qtdC">
                </div>    

                <div class="column">
                        <text href="">Fornecedor:</text>
                    <label for="" id='labelForn'>Informe</label>
                </div>   

                    <div class="column">
                            <text href="">Valor:</text>
                    <!--<select name="cpf" id="Fun">
                        <option value="iden" id="cp">--</option>
                        <% for(var i = 0; i< Fun.length; i++) {%>
                            <option value="<%= Fun[i].Cpf%>"><%= Fun[i].Nome%></option>
                        <%}%>
                    </select>-->
                    <label for=""id='labelValor'>R$ 0</label> 
                </div>    

            <!-- <div class="send" onclick="Vender()">Realizar venda</div>
                <h1 class="add" onclick="Add()">+</h1> -->
                <input type='hidden' id="nP"></input>
        </form>
    </div>
    <div class="float_button">
            <input class="btns" id="f_but" type="checkbox">
            <div class="func_buttons" class="btns" id="add" onclick="Add()"><h1 id="t1">+</h1></div>
            <div class="func_buttons" class="btns" id="confirm" onclick="Comprar()"><h1 id="t1">✓</h1></div>
    </div>

    <script> function Add(){
    const node = document.getElementById('cadV');
    const clone = node.cloneNode(true);
    document.body.appendChild(clone);
}
function valorAtt(){
    qt = document.getElementById('qtdC').value;
    $.get( "/valorAtt/"+$('#codPC').val(), function( data ) {
    if(data.Valor<0){
    $( "#labelValor" ).html('Valor inexistente')
    $("#labelForn").html('Fonecedor inexistente');
    }else{
    $("#labelValor").html( "R$" + data.Valor * qt );
    $("#labelForn").html(data.Fornecedor);
    $("#nP").html(data.Nome);
    }
    });
}
</script>
</body>
</html>
