<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../add_item_venda.css">
    <script src="./jquery-3.6.1.min.js"></script>
    <script src="../Vender.js"></script>    
    <title>Venda</title>
</head>

<% if(urid.Tipo=="ofoda"){ %>
    <%- include('../views/navbar') -%>
    <% }else{%>
    <%- include('../views/navbarVendedor') -%>
    <% } %> 
    
<body>
        <span id="titu" class="tit">Realizar Vendas</span>
    <div class="cad" id="cadV">
        <form>
            <!-- <input class="texto" type="number" placeholder="    CÓDIGO"id="codP"> -->
            <div class="column">
            <text id="cc">Código do Produto:</text>
            <select name="id" id="codP">
                <option value="iden" id="cp">--</option>
                    <% for(var i = 0; i< Produto.length; i++) {%>
                    <% if(Produto[i].Quantidade > 0) {%>
                        <option value="<%= Produto[i].Idprod%>"><%= Produto[i].Nome%></option>
                    <%}%>
                <%}%>
            </select>
            </div>

            <div class="column">
                <text id="cc2">Quantidade:</text>
                <input class="texto" type="number" id="qtdV">
            </div>

            <div class="column">
            <text>Cliente:</text>
            <select name="cpf" id="cliente">
                <option value="iden" id="cp">--</option>
                <% for(var i = 0; i< Fun.length; i++) {%>
                    <option value="<%= Fun[i].Cpf%>"><%= Fun[i].Nome%></option>
                <%}%>
            </select>
        </div>
        </form>
    </div>

    <div class="float_button">
            <input class="btns" id="f_but" type="checkbox">
            <div class="func_buttons" class="btns" id="add" onclick="Add()"><h1 id="t1">+</h1></div>
            <div class="func_buttons" class="btns" id="confirm" onclick="Vender()"><h1 id="t1">✓</h1></div>
    </div>

    <div class="float_button2">
            <input class="btns2" id="f_but2" type="checkbox">
            <div class="func_buttons2" class="btns2" id="add2" onclick="Add()"><h1 id="t1">+</h1></div>
            <div class="func_buttons2" class="btns2" id="confirm2" onclick="cadCliente()"><h1 id="t1">✓</h1></div>
    </div>

    <script> function Add(){
    const node = document.getElementById('cadV');
    const clone = node.cloneNode(true);
    document.body.appendChild(clone);
}
</script>
</body>
</html>