<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./attCliente.css">
    <script src="../atualizarCliente.js"></script>
    <title>Atualizar Cliente</title>
</head>

<% if(urid.Tipo=="ofoda"){ %>
    <%- include('../views/navbar') -%>
    <% }else{%>
    <%- include('../views/navbarVendedor') -%>
    <% } %> 

<body>
    <span id="titu" class="tit">Atualizar Cliente</span>
    <div class="cad">
        <form action="">
            <input class="texto" type="hidden"id="id"value="<%=C[0].idC%>">
            <div class="column">
                    <text>NOME:</text>
            <input class="texto" type="text"id="nome"value="<%=C[0].Nome%>">
        </div>
        <div class="column">
            <text>CPF:</text>
            <input class="texto" type="number"id="cpf"value="<%=C[0].Cpf%>">
        </div>
        <div class="column">
                <text>Contato:</text>
            <input class="texto" type="number"id="ctt"value="<%=C[0].Contato%>">
        </div>
        </form>
        <div class="send" onclick="attCliente()">Atualizar</div>
    </div>
</body>
</html>