<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./attProduto.css">
    <script src="../atualizarProd.js"></script>
    <title>Document</title>
</head>

<% if(urid.Tipo=="ofoda"){ %>
    <%- include('../views/navbar') -%>
    <% }else{%>
    <%- include('../views/navbarVendedor') -%>
    <% } %> 
   
<body>
        <span id="titu" class="tit">Atualizar Produto</span>
    <div class="cad">
        <form action="">
                <input class="texto" type="hidden" id="id" value="<%=P[0].Idprod%>" >
            <div class="column">
                    <text>Nome:</text>
            <input class="texto" type="text" id="nome" value="<%=P[0].Nome%>" >
        </div>
        <div class="column">
                <text>Fornecedor:</text>
            <input class="texto" type="text"  id="fornecedor" value="<%=P[0].Fornecedor%>" >
        </div>
        <div class="column">
                <text>Valor:</text>
            <input class="texto" type="number"  id="valor" value="<%=P[0].Valor%>" >
        </div>
        <div class="column">
            <text>Quantidade:</text>
            <input class="texto" type="number"  id="quantidade" value="<%=P[0].Quantidade%>">
        </div>
        </form>
        <div class="send" onclick="updateProd()">Atualizar</div>
    </div>
    
</body>
</html>