<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista compra</title>
    <link rel="stylesheet" href="./tela_lista_vendas/tela_lista_vendas.css">
</head>

<% if(urid.Tipo=="ofoda"){ %>
    <%- include('../views/navbar') -%>
    <% }else{%>
    <%- include('../views/navbarVendedor') -%>
    <% } %> 
    
    <span id="titu" class="tit">Lista de Compras</span>
    <div id="center" class="center">
        <table id="tabela" class="scroll">
            <thead>
                <tr id class="cabeca">
                    <th id="the" class="tb_ini">ID</th>
                    <th id="the"><span class="the">Produto</span></th>
                    <th id="the"><span class="the">Funcionário</span></th>
                    <th id="the"><span class="the">Quantidade</span></th>
                    <th id="the"><span class="thee">Valor Final</span></th>
                    <th id="the"><span class="the">Data</span></th>
                    <th id="the" class="tb_final"><span class="theee">Fornecedor</span></th>
                </tr>join usuario on usuario.IdFun = rvenda.idUsuario;
            </thead>
            <tbody id="paginated-list" class="corpo">
            <% for(var i = 0; i< v.length; i++) {%>
            <tr>
                <td id="td"><%=v[i].idC%></td>
                <td id="td"><%=v[i].nomeProd%></td>
                <td id="td"><%=v[i].nomeFun%></td>
                <td id="td"><%=v[i].qtdC%></td>
                <td id="td"><%=v[i].vC%></td>
                <td id="td">01/12/2022 11:04</td>
                <td id="td"> <%=v[i].forn%>
                </td>
            </tr>
            <%}%>
        </tbody>
        </table>
    </div>
  <%- include('../views/pagination') -%>
    
</html>