<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista compra</title>
    <link rel="stylesheet" href="../scr/relatorio_vendas/relatorio_vendas.css">
</head>

<% if(urid.Tipo=="ofoda"){ %>
    <%- include('../views/navbar') -%>
    <% }else{%>
    <%- include('../views/navbarVendedor') -%>
    <% } %> 
    
    <span id="titu" class="tit">Lista de Compras</span>
    <div id="center" class="center">
        <table id="table" class="scroll">
            <thead>
                <tr id class="cabeca">
                    <th id="the" class="tb_ini">COD</th>
                    <th id="the"><span class="the">ID</span></th>
                    <th id="the"><span class="the">Quantidade</span></th>
                    <th id="the"><span class="thee">Valor Final</span></th>
                    <th id="the"><span class="the">Data</span></th>
                    <th id="the" class="tb_final"><span class="theee">Fornecedor</span></th>
                </tr>
            </thead>
            <tbody id="tbody" class="corpo">
            <% for(var i = 0; i< v.length; i++) {%>
            <tr>
                <td id="td"><%=v[i].codV%></td>
                <td id="td"><%=v[i].qtdV%></td>
                <td id="td"><%=v[i].vF%></td>
                <td id="td"> <%=v[i].Fornecedor%>
                </td>
            </tr>
            <%}%>
        </tbody>
        </table>
    </div>
  <%- include('../views/pagination') -%>
    
</html>