<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista vendas</title>
    <link rel="stylesheet" href="/scr/tela_lista_vendas/tela_lista_vendas.css">
</head>

<% if(urid.Tipo=="ofoda"){ %>
    <%- include('../views/navbar') -%>
    <% }else{%>
    <%- include('../views/navbarVendedor') -%>
    <% } %> 
    
    <div id="center" class="center">
        <table id="table" class="scroll">
            <thead>
                <tr id class="cabeca">
                    <th id="the" class="tb_ini">COD</th>
                    <th id="the">Comissão</th>
                    <th id="the"><span class="the">Quantidade</span></th>
                    <th id="the"><span class="thee">Valor Final</span></th>
                    <th id="the" class="tb_final"><span class="theee">Cliente</span></th>
                </tr>
            </thead>
            <% for(var i = 0; i< v.length; i++) {%>
            <tr>
                <td id="td"><%=v[i].codV%></td>
                <td id="td"><%=v[i].comV%></td>
                <td id="td"><%=v[i].qtdV%></td>
                <td id="td"><%=v[i].vF%></td>
                <td id="td"> <%=v[i].Cliente%>
                
                    <button class="modify" onclick="window.location.href='AtualizarCliente?id=<%=Cliente[i].idC%>'"></button>
                  <button class="delete" id=<%= Cliente[i].idC%> onclick="deleteCliente(this.id)"></button>

                </td>
            </tr>
            <%}%>
        </table>
    </div>
</html>