<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./tela_lista_vendas/tela_lista_vendas.css">
    <title>Lista vendas</title>
</head>

<body>
<% if(urid.Tipo=="ofoda"){ %>
    <%- include('../views/navbar') -%>
    <% }else{%>
    <%- include('../views/navbarVendedor') -%>
    <% } %> 
   
    <span id="titu" class="tit">Lista de Vendas</span>
    <div id="center" class="center">
        <table id="tabela" class="scroll">
            <thead>
                <tr id class="cabeca">
                    <th id="the" class="tb_ini">COD</th>
                    <th id="the"><span class="the">Comissão</span></th>
                    <th id="the"><span class="the">Quantidade</span></th>
                    <th id="the"><span class="thee">Valor Final</span></th>
                    <th id="the"><span class="thee">Cliente</span></th>
                    <th id="the"><span class="thee">Funcionário</span></th>
                    <th id="the" class="tb_final"><span class="theee">Produto</span></th>
                </tr>
            </thead>
            <tbody id="paginated-list" class="corpo">
            <% for(var i = 0; i< v.length; i++) {%>
            <tr>
                <td id="td"><%=v[i].codV%></td>
                <td id="td"><%=v[i].comV%></td>
                <td id="td"><%=v[i].qtdV%></td>
                <td id="td"><%=v[i].vF%></td>
                <td id="td"> <%=v[i].nomeCliente%></td>
                <td id="td"> <%=v[i].nomefun%></td>
                <td id='td'><%=v[i].Nome%>
                </td>
            </tr>
            <%}%>
            </tbody>
        </table>
    </div>

    <%- include('../views/pagination') -%>


    
</html>