<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../pagination.js"></script>
  <script src="../excluirCliente.js"></script>
  <link rel="stylesheet" href="./visualizar_cliente/visualizar_cliente.css">

  <title>Document</title>
</head>
<% if(urid.Tipo=="ofoda"){ %>
  <%- include('../views/navbar') -%>
  <% }else{%>
  <%- include('../views/navbarVendedor') -%>
  <% } %> 
  <body id="body">
    <input type="hidden" id="testes" value="4">
      <span id="titu" class="tit">Visualizar Clientes</span>
    <div class="center">
  <table id="tabela" class="scroll">
    <thead>
    <tr class="cabeca">
        <th id="the" class="tb_ini">ID</th>
        <th id="the">Nome</th>
        <th id="the"><span class="the">Cpf</span></th>
        <th id="the"class="tb_final"><span class="theee">Contato</span></th>
    </tr>
  </thead>
  <tbody id="paginated-list" class="corpo">
    <% for(var i = 0; i< Cliente.length; i++) {%>
            <td id="td" class="tb_ini"><%= Cliente[i].idC%></td>
            <td id="td" ><%= Cliente[i].Nome%></td>
            <td id="td" ><%= Cliente[i].Cpf%></td>
            <td id="td" class="cont"><%= Cliente[i].Contato%>
          <button class="modify" onclick="window.location.href='AtualizarCliente?id=<%=Cliente[i].idC%>'"></button><button class="delete" id=<%= Cliente[i].idC%> onclick="deleteCliente(this.id)"></button></td> 
          </tr>
          <%}%>
  </ul>
  
  <%- include('../views/pagination') -%>
  <script>
        const paginationLimit = 1;
  
  </script>
  </body>
  </html>
