<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Visualizar Cliente
    </title>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="60">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./visualizarProd/visualizarProd.css">
    <script src="../js/scrool.js"></script>
    <script src="../excluirCliente.js"></script><!--Trocar o caminho -->
    <script src="./pagination.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
  </head>

  <% if(urid.Tipo=="ofoda"){ %>
    <%- include('../views/navbar') -%>
    <% }else{%>
    <%- include('../views/navbarVendedor') -%>
    <% } %> 
  <body id="body">
    <div class="center">
      <input id="myInput" type="text" placeholder="Search..">
<br><br>
        <table id="table" class="scroll"> <!-- tirei o  id="table" -->
            <thead>
            <tr id class="cabeca">
                <th id="the" class="tb_ini">ID</th>
                <th id="the">Nome</th>
                <th id="the"><span class="the">Cpf</span></th>
                <th id="the"class="tb_final"><span class="theee">Contato</span></th>
            </tr>
        </thead>
        <tbody id="myTable" class="corpo">
          <%=console.log(Cliente)%>
          
          <% for(var i = 0; i< Cliente.length; i++) {%>
            <tr class="itens">
                  <td id="td" class="tb_ini"><%= Cliente[i].idC%></td>
                  <td id="td" ><%= Cliente[i].Nome%></td>
                  <td id="td" ><%= Cliente[i].Cpf%></std>
                  <td id="td" class="cont"><%= Cliente[i].Contato%></td>
                   <td id="td"><button class="modify" onclick="window.location.href='AtualizarCliente?id=<%=Cliente[i].idC%>'"></button>
                  <button class="delete" id=<%= Cliente[i].idC%> onclick="deleteCliente(this.id)"></button></td> </td> 
                </tr>
                <%}%>
</tbody>
</main>


</body>
</html>