<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Visualizar Produtos
    </title>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="60">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="./excluirItem.js"></script><!--Trocar o caminho -->
    <script src="./atualizarProd.js"></script>
    <link rel="stylesheet" href="./visualizarProd/visualizarProd.css">
    <script></script>
  </head>
  <body>
    <div class="container mt-4">
      <br /> 
      <table class="table">
        <thead>
          <tr class="cabeca">
            <th class="c1">ID</th>
            <th class="c2">Nome </th>
            <th class="c3">Fornecedor</th>
            <th class="c4">Valor</th>
            <th class="c5">Quantidade</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i = 0; i< Produto.length; i++) {%>
          <tr class="itens">
                <td class="i1"><%= Produto[i].Idprod%></td>
                <td class="i2"><%= Produto[i].Nome%></td>
                <td class="i3"><%= Produto[i].Fornecedor%></std>
                <td class="i4"><%= Produto[i].Valor%></td>
                <td class="i5"><%= Produto[i].Quantidade%>
                <button class="delete" id=<%= Produto[i].Idprod%> onclick="deleteProd(this.id)"></button>
                <button class="modify" id=<%=Produto[i].Idprod%> onclick="updateProd(this.id)"></button></td>
              </tr>
              <%}%>
          </tr>
        </tbody>
      </table> 
    </div>
  </body>
</html>