<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Funcionarios</title>
    <link rel="stylesheet" href="./visualizar_funcionario/visualizar_funcionario.css">
    <script src="../js/scrool.js"></script>
    <script src="./excluirUser.js"></script>
</head>

<% if(urid.Tipo=="ofoda"){ %>
    <%- include('../views/navbar') -%>
    <% }else{%>
    <%- include('../views/navbarVendedor') -%>
    <% } %> 

<body id="body">
    <div class="center">
        <table id="table" class="scroll">
            <thead>
            <tr class="cabeca">
                <th id="th"><span class="tb_ini">ID</span></th>
                <th id="th"><span class="i2">Nome</span></th>
                <th id="th"><span class="i3">CPF</span></th>
                <th id="th"><span class="tb_final">Contato</span></th>
            </tr>
        </thead>
        <tbody id="tbody" class="corpo">
            <% for(var i = 0; i< Fun.length; i++) {%>
                <tr>
                    <td id="td" ><%= Fun[i].IdFun%></td>
                    <td id="td" ><%= Fun[i].Nome%></td>
                    <td id="td" ><%= Fun[i].Cpf%></td>
                    <td id="td" class="cont"><%= Fun[i].Contato%> 
                    <button class="delete" id=<%=Fun[i].IdFun%> onclick="deleteUser(this.id)"></button>
                    <button class="modify"  id=<%=Fun[i].IdFun%> onclick="window.location.href='/AtualizarFuncionario?id=<%=Fun[i].IdFun%>'"></button></td>
                </tr>
            <%}%>
</tbody>
        </table>
</body>
</html>