<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Visualizar Cliente
    </title>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="60">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="../excluirCliente.js"></script><!--Trocar o caminho -->
    <link rel="stylesheet" href="./visualizarProd/visualizarProd.css">
  </head>

  <%- include('../views/navbar') -%>

 
  <body id="body">
    <div id="center" class="center">
        <table id="table" class="scroll">
            <thead>
            <tr id class="cabeca">
                <th id="the" class="tb_ini">ID</th>
                <th id="the">Nome</th>
                <th id="the"><span class="the">Cpf</span></th>
                <th id="the"class="tb_final"><span class="theee">Contato</span></th>
            </tr>
        </thead>
        <tbody id="tbody" class="corpo">
          <%=console.log(Cliente)%>
          
          <% for(var i = 0; i< Cliente.length; i++) {%>
            <tr class="itens">
                  <td id="td" class="tb_ini"><%= Cliente[i].idC%></td>
                  <td id="td" ><%= Cliente[i].Nome%></td>
                  <td id="td" ><%= Cliente[i].Cpf%></std>
                  <td id="td" class="tb_final"><%= Cliente[i].Contato%>
                  <button class="modify" onclick="window.location.href='AtualizarCliente?id=<%=Cliente[i].idC%>'"></button>
                  <button class="delete" id=<%= Cliente[i].idC%> onclick="deleteCliente(this.id)"></button></td> 
                </tr>
                <%}%>
</tbody>
</body>

</html>