<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Visualizar Produtos
    </title>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="60">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="./excluirItem.js"></script><!--Trocar o caminho -->
    <link rel="stylesheet" href="./visualizarProd/visualizarProd.css">
  </head>

  <% if(urid.Tipo=="ofoda"){ %>
    <%- include('../views/navbar') -%>
    <% }else{%>
    <%- include('../views/navbarVendedor') -%>
    <% } %> 

    <div id="center" class="center">
        <table id="table" class="scroll">
            <thead>
            <tr id class="cabeca">
                <th id="the" class="tb_ini">ID</th>
                <th id="the">Nome</th>
                <th id="the"><span class="the">Fornecedor</span></th>
                <th id="the"><span class="thee">Valor</span></th>
                <th id="the" class="tb_final"><span class="theee">Quantidade</span></th>
            </tr>
        </thead>
        <tbody id="tbody" class="corpo">
          <% for(var i = 0; i< Produto.length; i++) {%>
            <tr class="itens">
                  <td id="td" class="tb_ini"><%= Produto[i].Idprod%></td>
                  <td id="td" ><%= Produto[i].Nome%></td>
                  <td id="td" ><%= Produto[i].Fornecedor%></std>
                  <td id="td" ><%= Produto[i].Valor%> R$</td>
                  <td id="td" class="tb_final"><span id="final"><%= Produto[i].Quantidade%></span>

                  <div class="op">
                      <button class="modify" onclick="window.location.href='AtualizarProduto?id=<%=Produto[i].Idprod%>'"></button>
                      <button class="delete" id=<%= Produto[i].Idprod%> onclick="deleteProd(this.id)"></button></td> 
                  </div>

                </tr>
                <%}%>
</tbody>
</body>

</html>